<%- include('../partials/header') %>
  <div class="container-fluid mt-4">
    <h1> Vist other user's bookmarks! </h1>
  </div>


  <div class="container-fluid mt-4">
    <ul>
      <% usernames.forEach(function(username){ %>
        <li>
          <a href=<%="/dashboard/" + username %>><%= username %></a>
        </li>
      <% }) %>
    </ul>
  </div>


    <%- include('../partials/footer') %>
