<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container-fluid">
    <h1 class="display-3">Goodmark</h1>
    <p class="lead">Save your bookmarks and share them</p>
    <hr>
    <p>
      This is an about page on why I wanted to make this page.
      </p>

  </div>
</div>

<%- include('partials/footer') %>
