<%- include('partials/header') %>



  <div class="fill-height bg-light">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 d-flex justify-content-center align-items-center">
      <div class="col text-left hero-pad">
        <h1 class="display-3">Goodmark</h1>
        <p class="lead">Organized bookmarks</p>
        <p class="lead">Easily shareable</p>
        <p class="lead">Text only and simple</p>
      </div>
      <div class="col text-center hero-pad">
        <a class="btn btn-light btn-lg" href="/signup" role="button">Sign Up</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>
