<%- include('partials/header') %>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="container-fluid">
    <h1 class="display-3">Goodmark</h1>
    <p class="lead">Save your bookmarks and share them</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>


<%- include('partials/footer') %>
