html {
height: 100%;
}

body {
height: 100%;
}

/* homepage */
.fill-height{
    height:100%;
}


.inline {
  display:inline-block;
  float: left;
}

.hero-pad {
  padding: 7em;
}
/* dashboard */
.small-marg {
  margin-bottom: 2em;
}
.small-marg-side {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.date-font {
  font-size: 0.8em;
  font-style: italic;
  color:#D3D3D3;
}
